<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding">
    <form [formGroup]="productForm">
      <ion-item>
        <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Descricao" formControlName="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Foto" formControlName="picture"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Preço R$" formControlName="price"></ion-input>
      </ion-item>
    </form>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveProduct()" expand="block">
      Salvar produto
    </ion-button>
  </ion-toolbar>
</ion-footer>